doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
  body
    header.header 
      .header-kv-filter 
        .site-title
          p Online
          p Photo
          p Frame
          h1 Calmyou
        p.induction-scroll-text scroll
        .arrow-down
        .arrow-diagonal
    .sp-kv-filter 
      nav.sp-kv-filter__inner 
        ul
          li Themes
          li 
            ul
              li
                a(href="")
                  img(src="./assets/img/webp/thumbnail/thumbnail_cherry_blossom.webp", alt="花のテーマ画像")
                  span Flower
              li
                a(href="")
                  img(src="./assets/img/webp/thumbnail/thumbnail_koyo.webp", alt="紅葉のテーマ画像")
                  span Koyo
              li
                a(href="")
                  img(src="./assets/img/webp/thumbnail/thumbnail_cat.webp", alt="猫のテーマ画像")
                  span Cat
          li
            a(href="") Contact
          li
            a(href="") Top
    |<!-- .sp-kv-filter -->
    button#top-menu.btn.hover
      span menu
      .right-line
      .left-line
    button#top-reverse.btn.hover
      img(src="./assets/img/webp/el_parts/top_triangle2.webp", alt="")
      span Top
      .right-line
      .left-line
    main#top-main.row
      section.inner
        h1
          | Calm ＆ Peace of mind-
          br
          | ...and Healing to You.
        p.lead.side Calmyou(カーミュー)は癒しにつながる様々なジャンルの画像を、オンラインで利用できるデジタルフォトフレームです。日常のほんのひとときに、ささやかな安らぎをあなたにお届けします。
      | <!-- section.inner -->
      
      section#themes.row
        h2 Themes
        p.lead.side Calmyouでは癒しにつながる画像のジャンル(テーマ)を、現在、3種類ご用意しています。あなたにとってのお好みのテーマが見つかりますように。
        .flex-box
          -
            const themeObj = [
              {
                title: "Flower",
                link: "/player_flower",//- linkは現時点では仮置きとします
                thumbnail: "/theme_cherry_blossom.webp",
                lead:"美しさや華やかさ、時に儚さすら感じさせてくれる花は、様々な表現で私たちを魅了します。懸命に咲く、瞬間の芸術をご堪能ください。"
              },
              {
                title: "Koyo",
                link: "/player_koyo",
                thumbnail: "/theme_koyo.webp",
                lead:"秋の風物詩、紅葉は季節の移り変わりを暖かみのある表情で伝えてくれます。艶やかな情緒ある風景をお楽しみください。"
              },
              {
                title: "Cat",
                link: "/player_cat",
                thumbnail: "/theme_cat.webp",
                lead:"そのモフモフ感、自由な振る舞い、愛くるしさの化身ともいえる猫達。その可愛さや奔放さを目の前にしたら、悶えること間違いなしです。"
              }
            ];
          each item in themeObj
            .theme
              a(href=item.link)
                h3= item.title 
                img(src=item.thumbnail, alt="")
                p.lead= item.lead 
      | <!-- section#themes.row -->
      section#information
        h2 information
        p.side Calmyouからのお知らせ
        ul
          -
            const informationObj = [
              {
                year: "2020",
                month: "10",
                day: "26",
                description: "オンラインフォトフレーム\"Calmyou\"がオープンしました。"
              },
              {
                year: "2020",
                month: "10",
                day: "26",
                description: "新しい追加テーマを現在準備中です。"
              },
              {
                year: "2020",
                month: "10",
                day: "26",
                description: "モバイル用テーマ表示画面の更新を予定しています。"
              },
              {
                year: "2020",
                month: "10",
                day: "26",
                description: "撮影した画像をオンラインフォトフレームにまとめてプレゼントできるように、新機能の追加を予定しています。"
              },
            ];
          each item in informationObj
            li
              time(datetime=item.year+"-"+item.month+"-"+item.day) #{item.year}年#{item.month}月#{item.day}日
              br
              //- テキスト内の記号をエスケープさせない場合
              | !{item.description} 